/* 
#ed5761 vermelho claro
#f4143f vermelho forte
#404b62 cinza
 #f4143f branco
#161515 preto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

body{
   background-color:black ;
}

header{
    background-color: rgb(145, 7, 7);
    color: black;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000 ;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;
}


.banner{
    background:url(../img/resized_banner.jpg) no-repeat center/cover;
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;

}

#titulos{
    padding: 35px;
    background-color: rgb(145, 7, 7);
}
section{
    scroll-margin-top: 100px;
}

.titulos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.titulos-texto{
    flex: 1;
    padding: 20px;
}

.titulos-texto h1 {
    font-size: 1.5;
    margin-bottom: 20px;
    margin-top: 15px;
}

.titulos-texto p{
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.titulos-texto a{
    color: black;
    text-decoration: none;
}

.titulos-texto a:hover{
    color: #fff;
}
.hex.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #404b62 ;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    width: 70%;
}

#fundacao .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
} 

#fundacao .item{
    background-color:  rgb(145, 7, 7);
    border: 1px solid  #161515;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#fundacao .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#fundacao .item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


#funadaca .item p {
    margin-top: 15px;
    font-size: 0.95em;
}

#fundacao .imagem img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#fundacao {
    background-color: whitesmoke;
}

.card {
    background: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: whitesmoke;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(145, 7, 7);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}





.modal p {
    color: black;
}
p,h1,li,h2{
    color: aliceblue;
}

@media(max-width:675px){
    header .container, .titulos-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 110px;
    }

}
