/* 
#ed5761 vermelho claro
#f4143f vermelho forte
#404b62 cinza
 #f4143f branco
#161515 preto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

body{
   background-color:whitesmoke ;
}

header{
    background-color: rgb(145, 7, 7);
    color: black;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000 ;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logosao{
    width: 70px;
}
/* .logo{
    font-size: 2em;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: black;
} */

/* .logo {
    max-width: 100px;
    max-height: 100px;
} */
.banner{
    background:url(../img/resized_banner.jpg) no-repeat center/cover;
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: darkred;
}


.banner2{
    background:url(../img/banner2.jpg) no-repeat center/cover;
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: darkred;
}

.banner2 h1 {
    margin-left: 200px ;
    font-weight: bold;
    height: 50px;
    font-size: xx-large;
}

.banner h1{

    text-shadow: whitesmoke;
    font-size: 40px;
}



#titulos{
    padding: 35px;
    background-color: rgb(145, 7, 7);
}
section{
    scroll-margin-top: 100px;
}

.titulos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
}


.titulos-texto{
    flex: 1;
    padding: 20px;
}

.titulos-texto h1 {
    font-size: 1.5;
    margin-bottom: 20px;
    margin-top: 15px;
}

.titulos-texto p{
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.titulos-texto, .modal-content a{
    color: black;
    text-decoration: none;
}

.titulos-texto a:hover{
    color: #fff;
}
.hex.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #404b62 ;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    width: 70%;
}


#fundacao h1 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#fundacao .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
} 

#fundacao .item{
    background-color:  rgb(145, 7, 7);
    border: 1px solid  #161515;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#fundacao .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#fundacao .item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


#funadacao .item p {
    margin-top: 15px;
    font-size: 0.95em;
}

#fundacao .imagem img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#fundacao {
    background-color: whitesmoke;
}

.modal {
    background: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: whitesmoke;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(145, 7, 7);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

#modal1{
    margin-top: 90px;
    margin-bottom: 50px;
}

.modal-content a:hover{
    color: rgb(145, 7, 7);
}
.modal-content {
    max-height: 90vh;
    overflow-y: auto;  
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: darkred;
    color: whitesmoke;
    border-radius: 6px;
    text-decoration: none;
}

.container-btn2 {
    margin-top: 4rem;
}
.container-btn3 {
    margin-top: 2.5rem;
}
.container-btn4 {
    margin-top: 3.8rem;
}

.modal p {
    color: black;
}
p,h1,li,h2{
    color: aliceblue;
}

#estadio {
    background-color: whitesmoke;
}

#estadio h1 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .galeria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    border: 4px solid #111111;
  }
  
  .galeria img:hover {
    transform: scale(1.05);
  }

  .contatos-container{
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;   
  
}

#table {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  #table h1 {
    color: #111111;
    margin-bottom: 20px;
    font-size: 50px;
  }
.table-container {
    width: 90%;
    max-width: 900px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
  }

  thead {
    background-color: #d50000; 
    color: #fff;
    text-align: center;
  }

  th, td {
    padding: 14px;
    text-align: center;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #ffecec;
    transition: 0.3s;
  }

  th {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }




  
  .formulario-contato {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: darkred;
  }
  
  .grupo-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .grupo-form input,
  .grupo-form select,
  .grupo-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 8px;
  }
  
  .grupo-form input[type="checkbox"],
  .grupo-form input[type="radio"] {
    margin-right: 8px;
    margin-top: 0;
  }
  
  .grupo-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }




@media(max-width:675px){
    header .container, .titulos-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 110px;
    }
    .modal-content {
        margin-top: 200px;
        max-height: 60vh;
    }

    .galeria {
        flex-direction: column;
        display: flex;
    }

   
}